* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    display: block;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: block;
    font-size: 50px;
    color: #0072bb;
}

.header h1 .seo {
    color: #d9dcd6;
}

.header header {
    display: block;
    padding-top: 15px;
    margin-right: 200px;
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header header ul {
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
}

.header header ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 15px;
    text-align: center;
}

img[alt] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
}

div .hero {
    height: 10px;
    width: 10%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting-jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 100px;
}

.float-right {
    float: right;
    margin-left: 100px;
}

.content article {
    width: 70%;
    display: block;
    margin-left: 20px;
}

#search-engine-optimization form,
#online-reputation-management form,
#social-media-marketing form {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    width: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    float: left;
}

#search-engine-optimization h2,
#online-reputation-management h2,
#social-media-marketing h2 {
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 25px;
    display: block;
    background-color: #526af3;
    padding: 9px;
}

#search-engine-optimization img,
#online-reputation-management img,
#social-media-marketing img {
    max-height: 200px;
}

.benefits article {
    padding: 20px;
    clear: both;
    float: right;
    width: 30%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    color: #000;
}

#benefit-lead section,
#benefit-brand section,
#benefit-cost section {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000;
}

#benefit-lead h3,
#benefit-brand h3,
#benefit-cost h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: right;
    margin-right: 10px;
}

#benefit-lead img,
#benefit-brand img,
#benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer footer {
    padding: 25px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}